rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;  // Permet la lecture et l'écriture à tous
    }
    
    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /verify/{verifyId} {
      allow read, write: if true;  // Permet la lecture et l'écriture pour la collection verify
    }
  }
}
